@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-url: url(./img/c9a7f93db3274e6cc9c743a6164fab2f.jpg);
  --text-color: #000000;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.5);
  --switch-bg-url: url(./img/MoonStars.svg);
  --highlight-color: rgba(255, 255, 255, 0.2);
}

.light {
  --bg-url: url(./img/7996f4c2376dec317e91c557232f1286.jpg);
  --text-color: #ffffff;
  --stroke-color: rgb(0, 0, 0);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(197, 197, 197, 0.5);
  --switch-bg-url: url(./img/Sun.svg);
  --highlight-color: rgba(0, 0, 0, 0.2);
}

/* Modificações do body */
#App * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#App {
  background: var(--bg-url) no-repeat top center / cover;
  height: 100vh;
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 0 auto;
  padding: 0 24px;
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  justify-content: center;
  align-items: center; /* Centraliza os botões horizontalmente */
}

#socialLinks {
  display: flex;
  justify-content: center;
  padding: 24px;
  gap: 16px;

  font-size: 24px;
}

@media {
  :root {
    --bg-url: url(./img/c9a7f93db3274e6cc9c743a6164fab2f.jpg);
  }
  .light {
    --bg-url: url(./img/7996f4c2376dec317e91c557232f1286.jpg);
  }
}
